@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Lista de clientes</h1>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th style="width: 30px;" scope="col"></th>
      <th style="width: 30px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <a href="/clientes/1/editar" class="btn btn-warning">Editar</a>
      </td>
      <td>
        <a href="/clientes/1/deletar" class="btn btn-danger">Editar</a>
      </td>
    </tr>
  </tbody>
</table>